* {
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.pantallaUno {
  background-color: #a8dadc;
  width: 60%;
  padding: 20%;
  display: flex;
  justify-content: center;
}

.contenedor {
  background-color: #f1faee;
  width: 700px;
  height: 500px;
  border: 5px solid #1d3557;
  border-radius: 20px;
  padding: 50px;
  text-align: center;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.5);
  margin left: 600px;
}

.pantallaUno .contenedor img {
  width: 200px;
  padding-bottom: 0;
}

@keyframes entrar {
  0%{transform: translate(0px);/* width: 150px; */}
  25%{transform: translate(100px);/*width: 200px; */}
  50%{transform: rotate(180deg);/* width: 250x; */}
  75%{transform: translate(-100px); /*width: 200px; */}
  100%{transform: translate(0px); /*width: 150px; */}
}

.moveRight{
  animation-name: entrar;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.logo {
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  color: #1d3557;
}

.btn-usuario {
  width: 250px;
  height: 35px;
  border: 3px solid #1d3557;
  text-align: center;
  font-size: 20px;
}

.btn-enviar {
  width: 250px;
  height: 35px;
  border: 3px solid #1d3557;
  background-color: #1d3557;
  color: #a8dadc;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.btn-enviar:hover {
  background-color: #457b9d;
  color: #ffffff;
  font-weight: bold;
}

.pantallaDos {
  background-color: #f1faee;
  width: 100%;
  animation-name: colores;
  animation-duration: 5s;
  animation-iteration-count: infinite;
 /* display: none; */
}

/*
@keyframes img{
  0%{width: 300px;}
  25%{width: 200px;}
  50%{width: 250px;}
  75%{width: 200;}
  100%{width: 300px;}
}

.move {
  animation-name: img;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
*/

.pantallaDos img {
  width: 300px;
  padding: 100px;
}

.contenedorBienvenido {
  overflow: hidden;
}

.imagen {
  float: left;
}

.bienvenido {
  color: #1d3557;
  font-style: italic;
  font-size: 45px;
  float: left;
}

.titulo {
  padding-top: 150px;
  padding-left: 20px;
  text-align: center;
}

.titulo2 {
  padding-top: 0px;
  padding-left: 20px;
  text-align: center;
}

@keyframes colores {
  0%{background-color: #E5F0F0;}
  25%{background-color: #D8E9E9;}
  50%{background-color: #CAE2E2;}
  75%{background-color: #B8D8D8;}
  100%{background-color: #E5F0F0;}
}

.contenedorTextArea {
  float: left;
  text-align: center;
  width: 40%;
  background-color: #f1faee;
  padding-bottom: 100px;
  animation-name: colores;
  animation-duration: 5s;
  animation-iteration-count: infinite; 
}

.contenedorDesplazamiento {
  float: left;
  text-align: center;
  width: 20%;
  height: 635px;
  background-color: #f1faee;
  padding-top: 200px;
  animation-name: colores;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.textArea {
  background-color: #a8dadc;
  border: 6px solid #457b9d;
  border-radius: 20px;
  width: 400px;
  height: 300px;
  padding: 30px;
  margin: 100px;
  color: #1d3557;
  font-weight: bold;
  overflow-y: scroll;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  cursor: text;
}

.textArea:hover {
  border: 10px solid #1d3557;
}

.desplazamiento {
  background-color: #a8dadc;
  border: 6px solid #457b9d;
  border-radius: 20px;
  width: 120px;
  height: 40px;
  padding: 30px;
  margin: 100px;
  color: #1d3557;
  font-weight: bold;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  cursor: text;
  text-align: center;
}

.desplazamiento:hover {
  border: 10px solid #1d3557;
}

button {
  background: #1d3557;
  color: #fff;
  width: 120px;
  height: 40px;
  margin: 20px;
  font-size: 20px;
  border-radius: 15px;
  border: 5px solid #457b9d;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

button:hover {
  background-color: #457b9d;
  color: #ffffff;
  font-weight: bold;
  border: 5px solid #1d3557;
}


